[Unit]
Description=homeclimate pressure monitoring
After=influxdb.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/python3 /home/pi/homeclimate/scripts/bmp180.py

[Install]
WantedBy=multi-user.target
