[Unit]
Description=homeclimate co2 monitoring for USB monitor
After=influxdb.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=/usr/bin/python3 /home/pi/homeclimate/scripts/co2monitor.py

[Install]
WantedBy=multi-user.target
